{% extends "main.html" %}
{% block content %}
    {% load static %}
    <div class="container my-5"
     style="background: url('{% static 'images/bg.png' %}') no-repeat center center / cover !important;">
        <div class="table-responsive">
            <table id="table"
                   class="table table-borderless table-striped table-hover"
                   data-pagination="true"
                   {% comment %}
                   data-show-toggle="true"
                   {% endcomment %}
                   data-card-view="true"
                   data-search="true"
                   data-show-jump-to="true"
                   data-side-pagination="client">
                <thead>
                    <tr class="table-header text-center">
                        <th data-field="polls" data-sortable="true">Polls</th>
                        <th data-field="endtime" data-sortable="true">Deadline</th>
                        <th data-field="status" data-sortable="true">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for poll in polls %}
                        <tr class="table-row text-center"
                            data-url="{% url 'vote_poll' poll.id %}">
                            <td>
                                <strong>{{ poll.topic }}</strong>
                                <br />
                                <small>{{ poll.description }}</small>
                            </td>
                            <td>{{ poll.end_date|date:"F d, Y g:i A" }}</td>
                            <td>
                                {% if poll.status == "live" %}
                                    <span class="badge bg-success">Live</span>
                                {% elif poll.status == "closed" %}
                                    <span class="badge bg-danger">Closed</span>
                                {% elif poll.status == "pending" %}
                                    <span class="badge bg-warning text-dark">Pending</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="text-center">
                            <td colspan="3">No polls available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
