{% extends 'main.html' %} {% block content %} {% load static %}
<div class="container my-5">

    <div class="table-responsive">
        <table
            id="table"
            class="table table-borderless rounded"
            data-pagination="true"
            data-show-toggle="true"
            data-search="true"
            data-show-jump-to="true"
            {% comment %} data-url = "{{ url('vote:polls') }}" {% endcomment %}
            data-side-pagination="client"
        >
            <thead>
                <tr class="table-header text-center">
                    <th data-field="polls" data-sortable="true">Polls</th>
                    <th data-field="endtime" data-sortable="true">Deadline</th>
                    <th data-field="status" data-sortable="true">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-danger">Closed</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
                <tr class="table-row text-center">
                    <td>
                        <strong>President Poll</strong></br>
                        <small>Description</small>
                    </td>
                    <td>March 16, 2025 8:48 AM</td>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
