/* Hero section styling with background */
#hero-section {
    background: url('../images/HeroSection.png');
    background-size: cover;
    background-position: center;
    color: white;
    /* Full viewport height */
    height: 72.3vh;
    display: flex;
    /* Vertically center the content */
    align-items: center;
    /* Align the container to the left */
    justify-content: flex-start;
    /* Optional: Add some space around the content */
    padding: 0 30px;
}

/* Hero title styling */
.hero-title {
    font-size: 2.2rem;
    font-weight: bold;
}

/* Hero subtitle styling */
.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button styling */
.btn-custom {
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 8px;
    margin-right: 10px;
    /* Space between buttons */
}