html {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to top, #295cad, #78c9ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}