<!-- Footer Section -->
<footer class="footer py-3">
    <div class="container">
        <div class="row">
            <!-- Company Links -->
            <div class="col-md-2 mb-4">
                <h4 class="fw-bold text-center">
                    <a href="#" class="text-light text-decoration-none footer-btn">About Us</a>
                </h4>
            </div>
            <div class="col-md-8 mb-10">
                <h4 class="text-center">
                    <a href="#" class="text-light text-decoration-none">
                        <span class="navbar-title text-white fw-bold">
                            Vote<span class="text-danger">हालः</span>
                        </span>
                    </a>
                </h4>
                <p class="text-center">
                    Providing secure, accessible, and reliable online voting solutions for organizations of all
                    sizes
                </p>
            </div>
            <div class="col-md-2 mb-4">
                <h4 class="fw-bold text-center">
                    <a href="#" class="text-light text-decoration-none footer-btn">Contact</a>
                </h4>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-0">&copy; 2025 | All rights reserved</p>
        </div>
    </div>
</footer>
